<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
         <!--  Set detailed error for troubleshooting -->
         <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                                <!--  Set http to https -->
                                <rule name="ForceSSL" stopProcessing="true">
                                  <match url="(.*)" />
                                  <conditions>
                                        <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
                                  </conditions>
                                  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                                </rule>
                                 <!--  Proxy -->
                                <rule name="Proxy to rds.ca" stopProcessing="true">
                                        <match url="(.*)" />
                                        <!--                                    <action type="Rewrite" url="https://rds.ca:{C:1}" /> -->
                                        <action type="Rewrite" url="https://www.rds.ca/{R:1}" appendQueryString="true" logRewrittenUrl="false" />

                                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
