<?xml version="1.0" encoding="utf-8"?>  
<configuration>  
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
				<rule name="ForceSSL" stopProcessing="true">
				  <match url="(.*)" />
				  <conditions>
					<add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
				  </conditions>
				  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="Proxy to HapiTest" stopProcessing="true">
					<match url="(.*)" />
					<conditions>  
						<add input="{HTTP_HOST}" pattern="^(300[1-9]|3010).tomssl.com(.*)" />  
					</conditions> 
					<action type="Rewrite" url="http://hapitest.giga.io:{C:1}" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>  